.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space, 1.5rem);
	/* ↓ The width at which the layout “breaks” */
	--threshold: 30rem;

	> * {
		flex-grow: 1;
		/* ↓ Switch the layout at the --threshold */
		flex-basis: calc((var(--threshold) - 100%) * 999);
	}

	> :nth-last-child(n+5),
	> :nth-last-child(n+5) ~ * {
		/* ↓ Switch to a vertical configuration if
		there are more than 4 child elements */
		flex-basis: 100%;
	}
}
