.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	/* ↓ The width at which the layout “breaks” */

	> * {
		flex-grow: 1;
		/* ↓ Switch the layout at the --threshold */
		flex-basis: calc((var(--threshold) - 100%) * 999);
	}
}
